[2019-04-08 20:39] ChasakisD opened #1 "Support for dashed border"
A core feature for background kit is dashed border.

Both Android and iOS support dashed border.

![image](https://user-images.githubusercontent.com/23040695/55755408-96ca3680-5a57-11e9-8186-5bcb4f56c61b.png)

Android implementation on dev branch

[2019-04-08 20:41] ChasakisD opened #2 "Support for gradient border"
BackgroundKit should support gradient in border.

![image](https://user-images.githubusercontent.com/23040695/55755469-c24d2100-5a57-11e9-8a4b-e2eedb8cc03a.png)

Android implementation on dev branch

[2019-04-08 20:49] ChasakisD opened #3 "[Bug, iOS] Infinite loop when invalidating layer"
Invalidating the layer on LayoutSubviews causes infinite loop on iOS. Inside the LayoutSubviews, tracker should only update the Frame of the layer/sublayers.

[2019-04-08 20:55] ChasakisD opened #4 "Publish to nuget"
XamarinBackgroundKit must be published to nuget

[2019-04-08 20:56] ChasakisD opened #5 "[iOS] Test IsCircle/IsCornerHalfHeight on iOS"
IsCircle and IsCornerHalfHeight is not fully tested on iOS

[2019-04-08 20:57] ChasakisD opened #6 "[iOS] Test MDCShadowLayer"
On iOS we add elevation by using the Shadow Layer of Material Components. Further testing is required for cases like when the device is rotated, in listview etc.

[2019-04-08 21:00] ChasakisD opened #7 "[iOS] MDCCard's ripple effect requires test on iOS"
Material Components Card has ripple when ```Interactable = true```. Further test is required when having subviews with background. Subviews should process touch to the parent in order to correctly show the ripple.

[2019-04-20 13:31] ChasakisD commented on #3
Fixed in 386543e920d12831653a9cbd87e35901e762c43f

[2019-04-20 13:31] #3 closed, assigned to ChasakisD

[2019-04-20 13:32] ChasakisD commented on #1
Fixed in 386543e920d12831653a9cbd87e35901e762c43f

[2019-04-20 13:32] #1 closed, assigned to ChasakisD

[2019-04-20 13:32] ChasakisD commented on #2
Fixed in 386543e920d12831653a9cbd87e35901e762c43f

[2019-04-20 13:32] #2 closed, assigned to ChasakisD

[2019-04-20 13:32] ChasakisD commented on #6
Fixed in 386543e920d12831653a9cbd87e35901e762c43f

[2019-04-20 13:32] #6 closed, assigned to nobody

[2019-04-20 13:32] ChasakisD commented on #7
Fixed in 386543e920d12831653a9cbd87e35901e762c43f

[2019-04-20 13:32] #7 closed, assigned to nobody

[2019-04-22 20:03] ChasakisD opened #8 "[iOS] BoxView issue on iOS"
On iOS, background effect is not fully working on BoxView. On Android works pretty well.

[2019-04-24 13:07] ChasakisD opened #9 "[iOS] Support for Clipping and Shadow"
BackgroundKit should support clipping and shadows as on Android:

<img src="https://raw.githubusercontent.com/ChasakisD/Xamarin.Forms-BackgroundKit/master/art/cornerRadiiElevation.png" width="280" />

[2019-04-24 13:14] ChasakisD commented on #9
Sneak peak from clipping-elevation branch:

<img src="https://raw.githubusercontent.com/ChasakisD/Xamarin.Forms-BackgroundKit/master/art/cornerRadiiElevation-iOS.png" width="280" />

[2019-04-28 20:51] ChasakisD commented on #9
Sneak peak from clipping-elevation branch:
Android supports clipping for different corner radius on each corner with elevation

<img src="https://raw.githubusercontent.com/ChasakisD/Xamarin.Forms-BackgroundKit/master/art/corner_clipping_android.png" width="280" />

[2019-04-29 14:22] ChasakisD commented on #9
By a900cab0e90ef807f78074e62d45c08ae30fe637 iOS supports clipping for different corner radius on each corner with elevation

<img src="https://raw.githubusercontent.com/ChasakisD/Xamarin.Forms-BackgroundKit/master/art/corner_clipping_ios.png" width="280" />

[2019-04-29 15:34] ChasakisD commented on #9
Fixed by a900cab0e90ef807f78074e62d45c08ae30fe637

[2019-04-29 15:34] #9 closed, assigned to ChasakisD

[2019-04-30 00:05] ChasakisD opened #10 "[Android] Clipping border bug"
When adding border with corner radius, the outer stroke was not clipped via the ```canvas.ClipPath(_clipPath)``` on Android Pie (API 28)

Left API 27, Right API 28

<img src="https://user-images.githubusercontent.com/23040695/56934348-46914200-6af4-11e9-835e-0dea389d7885.png" width="280"> | <img src="https://user-images.githubusercontent.com/23040695/56934381-6163b680-6af4-11e9-9088-f7a1a4e184c8.p

[2019-04-30 00:17] ChasakisD commented on #10
Drawing inside a bitmap and then draw that bitmap to the clipped canvas seems to resolve this issue on android pie

<img src="https://user-images.githubusercontent.com/23040695/56934812-56aa2100-6af6-11e9-9db4-0e379d35b260.png" width="280" >

[2019-04-30 00:27] ChasakisD opened #12 "[Android] BackgroundKit is not working on Frame on Android"
When adding a BackgroundEffect to a Frame, any change to the background has no effect

[2019-04-30 01:34] ChasakisD commented on #12
Frame's EffectControlProvider is null due to X.F. bug and while the effect is added to the Effects list of the Frame, the native effect is not initialized.

[2019-04-30 01:37] #10 closed, assigned to ChasakisD

[2019-04-30 01:45] ChasakisD opened #14 "Update Readme to reflect the latest API"

[2019-04-30 12:26] #5 closed, assigned to nobody

[2019-04-30 13:51] #8 closed, assigned to ChasakisD

[2019-04-30 14:26] ChasakisD commented on #14
Fixed from e5d8d6d3efbc987c56d0dc478616c4fe2717803c

[2019-04-30 14:26] #14 closed, assigned to ChasakisD

[2019-04-30 14:47] ChasakisD commented on #4
Fixed by d5d64f93393eb8791f629f4aa4f9691551fc4733

[2019-04-30 14:47] #4 closed, assigned to nobody

[2019-05-17 16:44] ChasakisD opened #18 "[iOS] KVO Observer is not removed from NSObject"
On ```BackgroundEffect``` on iOS, when ```OnDetached()``` is called, the View's layer sometimes is disposed. Since it is disposed, the observer cannot be removed, so when the user go back, a native crash is happening saying that KVO observers must be removed when a NSObject is destroyed.

### Proposal:
Use Facebook's Key-Value Observing Controller [KVOController](https://github.com/facebook/KVOCon

[2019-05-18 09:05] ChasakisD opened #19 "Material Views are not listening to Background updates"
MaterialBackgroundManager is not listening to background changes, so when you set Material Views' background to another Background instance, it has no effect

[2019-05-23 16:20] ChasakisD opened #20 "Implement BorderStyle"
Background Kit should handle border styles such as: Inner, Outer, Both.

[2019-05-29 11:59] dalton5 opened #21 "Issues with namespace"
Hi

I have added the nugget and did the instanciation is the ios and android classes.

I use the  xmlns:background="http://xamarin.com/schemas/2014/forms/background"

When I add the background code I have the issue that:
Error		Position 47:14. Type background:Background not found in xmlns http://xamarin.com/schemas/2014/forms/background

My code is this:

Can you help please?

   </CarouselView.It

[2019-05-29 14:48] ChasakisD commented on #21
What IDE are you using?

For now, provide the full namespace with the assembly name inside the xmlns. One for XamarinBackgroundKit.Controls namespaces and one for XamarinBackgroundKit.Effects.

[2019-05-29 19:00] dalton5 commented on #21
I use VS 2019.

I am not sure to understand what you mean by provide the full namespace with the assembly name inside the xmlns

Would you have an example pleasE?

[2019-05-29 19:21] ChasakisD commented on #21
Its kind of weird why you are getting a compile error. I actually use it in different solutions. Anyway, i will try to reproduce it. You can define the xmlns by the following:
[code]

[2019-05-29 22:39] dalton5 commented on #21
It works. Thanks

[2019-05-30 15:04] #18 closed, assigned to ChasakisD

[2019-05-30 15:04] #19 closed, assigned to ChasakisD

[2019-06-09 09:35] #20 closed, assigned to ChasakisD

[2019-06-09 09:39] ChasakisD commented on #21
@dalton5 Pushed version 1.1.0 to nuget. It will be listed soon. Please check if this version resolves the issue! :)

[2019-06-18 01:25] agusibrahim opened #24 "XamarinBackgroundKit.Android not found"
hello, XamarinBackgroundKit.Android.BackgroundKit.Init(); is not found in my MainActivity

please refer screenshot
<img width="627" alt="Screen Shot 2019-06-18 at 08 21 08" src="https://user-images.githubusercontent.com/5948377/59646698-39aed780-91a2-11e9-9f9e-569bdf4cec80.png">

already added to nuget
<img width="206" alt="Screen Shot 2019-06-18 at 08 23 53" src="https://user-images.githubusercon

[2019-06-18 13:10] agusibrahim commented on #24
Solved, i change TargetFrameworkVersion to 9.0
Thnx dude

[2019-06-18 15:15] ChasakisD commented on #24
Yeah, I was targeting to API 28. Resolved then. Thanks for your feedback!

[2019-06-18 15:15] #24 closed, assigned to ChasakisD

[2019-06-21 19:11] pkoelbl commented on #21
I had to use the name spaces as above because i was getting an error on GradientStop

[2019-06-21 19:51] pkoelbl opened #25 "Any plans for UWP support?"
Add UWP support

[2019-07-01 21:19] ChasakisD opened #26 "[Android] Border with BorderWidth = 0 also draws the border"
When border width is set to zero, the border should not be drawn. This issue is only happening on Android.

<img width="280" alt="image" src="https://user-images.githubusercontent.com/23040695/60467278-dff8e380-9c5e-11e9-9fe7-15efc1022914.png">

[2019-07-04 03:57] Vanegas9090 opened #27 "Men Can you help me with this"
![image](https://user-images.githubusercontent.com/28068090/60638902-76ebaa00-9ddd-11e9-89cc-3a5899ccc6eb.png)

[2019-07-04 08:35] ChasakisD commented on #27
On line 9, remove the ".Chips" from the namespace. This is targeting to XamarinBackgroundKit.Controls.Chips instead of XamarinBackgroundKit.Controls.

@Vanegas9090 please reopen the issue if the problem persists

[2019-07-04 08:35] #27 closed, assigned to nobody

[2019-07-04 09:37] Vanegas9090 commented on #27
Thanks now it shows me the MaterialCard and MaterialContentView
 just only a question

how can I do to make a gradient button?

[2019-07-04 10:53] ChasakisD commented on #27
You have to use the BackgroundEffect in order to add background to Xamarin.Forms views.

To set a gradient to Background there are three ways as described in the README.md.

If you want a gradient with only 2 colors you can use:
[code]

If you want a gradient with more than 2 colors you can use:
[code]
Otherwise you can use the old way:
[code]

PS: There is a workaround for an issue when the gradi

[2019-07-04 10:55] Vanegas9090 commented on #27
Okay dude, Thank you

[2019-07-04 16:04] ChasakisD opened #28 "[Android] GradientBrush doesn't work if Color is not set"
On android, if color property is not set, the gradientbrush is not working.

[2019-07-04 16:06] ChasakisD commented on #12
Since this [PR](https://github.com/xamarin/Xamarin.Forms/pull/6412) was merged, it is fixed now

[2019-07-04 16:06] #12 closed, assigned to ChasakisD

[2019-07-04 16:29] Vanegas9090 commented on #27
I think this is the issue you were saying before right?
![image](https://user-images.githubusercontent.com/28068090/60679930-a2ef4580-9e46-11e9-8c7d-a4f46434de4b.png)

[2019-07-05 10:15] ChasakisD commented on #27
@Vanegas9090 I don't think those controls and effects work on preview. I actually never use the preview, so I never tested it. Btw, yes in order for the gradient to work on android, specify the Color to Background class for example to white. The color will be ignored and the gradient it will draw fine. This issue is addressed and will be fixed pretty soon.

[2019-07-05 13:27] Vanegas9090 commented on #27
you know the gradient works on my preview actually I was showing you the console Error log

when I try to compile the project show me Type background:GradientStop not found

[2019-07-05 13:30] ChasakisD commented on #27
Oh, there is an issue when using the url on xmlns. Please check issue #21 in order to fix it.

[2019-07-05 13:42] Vanegas9090 commented on #27
the same man
![image](https://user-images.githubusercontent.com/28068090/60726310-772c9800-9ef8-11e9-8b6e-b11b51546a26.png)

[2019-07-05 13:44] Vanegas9090 commented on #27
at the top are the xmlns references and the button code below

[2019-07-05 13:45] ChasakisD commented on #27
Lines 21-26, replace background: with control:

[2019-07-05 13:48] Vanegas9090 commented on #27
It works! Men thank you for everything you're the best

![image](https://user-images.githubusercontent.com/28068090/60726657-4c8f0f00-9ef9-11e9-8290-c0a7f903d7d5.png)

[2019-07-06 00:18] ChasakisD opened #29 "[Android] ClipPathManager should clip only when corner radius is not uniform"
When corner radius is uniform(the same on each corner) the clipping is done by the ViewOutlineProvider.

When the corner radius is not uniform, ViewOutlineProvider only draws the shadow and the clipping is done by the ClipPathManager.

Right now, the manager clips the child view in any case. It should be more effective, if the manager clips the child views only when the corner radius is not unifor

[2019-07-08 18:43] ChasakisD opened #32 "[Android] Ripple on trasparent background is not working"
Setting IsRippleEnabled to true with Color=Transparent is not working on Android. RippleDrawable on BackgroundManager should use different mask.

[2019-07-08 19:09] #32 closed, assigned to nobody

[2019-07-08 19:09] #29 closed, assigned to nobody

[2019-07-08 19:09] #26 closed, assigned to ChasakisD

[2019-07-08 19:55] #28 closed, assigned to nobody

[2019-07-15 06:01] dhpanteon opened #35 "Xamarin WPF"
Is that supports Xamarin WPF?

[2019-07-15 09:15] ChasakisD commented on #35
At the moment there is no support for WPF. Although, there are plans to make this library compatible with WPF and MacOS. I haven't developed in any of those two platforms, so i will need help in that.

[2019-07-17 13:12] uksreejith commented on #24
This library wont work for API versions below 28?

[2019-07-17 13:19] uksreejith opened #36 "Getting a java.lang.NoSuchMethodError."
ava.lang.NoSuchMethodError: no non-static method "Lcom/xamarin/forms/platform/android/FormsViewGroup;.getForeground()Landroid/graphics/drawable/Drawable;"
07-17 21:18:31.104 I/mono-stdout( 7091): 	at mono.java.lang.RunnableImplementor.n_run(Native Method)
07-17 21:18:31.104 I/mono-stdout( 7091): 	at mono.java.lang.RunnableImplementor.run(RunnableImplementor.java:30)
07-17 21:18:31.104 I/mono-stdou

[2019-07-17 13:32] ChasakisD commented on #24
The library works for API>=23. It just targets API 28

[2019-07-17 13:34] ChasakisD commented on #36
What is the API Version of the device? It cannot resolve Foreground property which was introduced in Android 6.0 (API 23).

[2019-07-17 14:54] uksreejith commented on #36
Oh. This could be the reason. I was testing this on an Android 5.1 emulator(Memu Play). Let me test this on a later version of android.

[2019-07-17 14:59] uksreejith commented on #24
Oh. I am working on a slightly older project and its targeting API 27. Was unable to use this library because it couldn't find this namespace. Can't upgrade the API version of the project either because that seems to breaking some stuff which is another matter altogether..lol.. Will try this out on another POC..

[2019-07-17 17:09] uksreejith commented on #36
Tested this on an emulator with android 7.1. It works fine.

[2019-07-19 08:08] #36 closed, assigned to nobody

[2019-07-19 08:08] ChasakisD commented on #36
@uksreejith Glad you got it working! :)

[2019-07-21 19:45] ChasakisD opened #37 "Provide Platform GradientHandlers"
Gradients on both platforms should be drawn through some king of managers.

Specifying a manager for a specific gradientbrush will allow us to easily manage linear, radial gradients etc. This way will also allow users to extend existing managers.

[2019-07-21 19:47] ChasakisD opened #38 "[Android] Workaround for API 22 and below"
XamarinBackgroundKit is now working only for API 23 and above. Some features like Elevation and Ripple are not backwards compatible and should be enabled only if the device meets the API specification

[2019-07-24 11:07] kicsiede opened #39 "XF 4 dependency"
hello,

is there any reason you need an exact xf version dependency? unfortunatelly i cannot upgrade to 4.*, and stuck with 3.6

fyi you can specify package-ranges like this in the csproj:
`<PackageReference Include="Xamarin.Forms" Version="(*,4.0.0.0)" />`

[2019-07-24 11:10] ChasakisD commented on #39
Is there any 3.x version of Xamarin.Forms where Visual.Material exists?

The only reason for the 4.x dependency is because on iOS, the shadow is drawn by the MDCShadowLayer and ripple is drawn by the MDCInkViewController. Both of those are existing in iOS MaterialComponents that came with Visual.Material

[2019-07-24 11:21] kicsiede commented on #39
I'm using Visual.Material just fine with 3.6. :) afaik it was introduced in 3.3 or maybe even earlier. However it is extension to XF 3.* indeed, called Xamarin.Forms.Visual.Material.

(I'm using only visual=material for buttons though, don't know about the components you mentioned)

[2019-07-24 11:36] ChasakisD commented on #39
Oh, seems there is a 3.x version of Visual.Material and more specifically is 3.5.0.129452.

I will update the dependency to that version and when the nuget is published I will comment here.

[MaterialComponents](https://github.com/material-components/material-components-ios) is a library supported by Google in order to bring Material UI to iOS. Microsoft created binding of that library and shipped

[2019-07-24 11:47] kicsiede commented on #39
i recommend using the package-range method i mentioned in the first post, so that users of your library can use any version they want above 3.5.0.129452!

[2019-07-24 11:49] ChasakisD commented on #39
There is no need to specify a range. By specifying a version on .nuspec, any version that is after the specified version can be used.

[2019-07-25 12:21] ChasakisD commented on #39
@kicsiede The issue has been fixed on skia-support branch on commit 1683ed0. The fix will be available in Release 1.3.0

[2019-07-25 12:21] #39 closed, assigned to ChasakisD

[2019-07-26 09:55] kicsiede commented on #39
@ChasakisD it would be nice if you published a 1.2.1 service release with this sooner though... 1+ month is a bit much to wait! ;)

[2019-07-26 10:22] ChasakisD commented on #39
@kicsiede Version 1.2.1 according to branch nuget-dependencies-fix was released to nuget. It will be listed soon.

[2019-07-26 10:31] kicsiede commented on #39
@ChasakisD thanks man! :)

[2019-07-28 10:41] kicsiede opened #41 "[bug] [iOS] strange background animations on MaterialContentView when size changes"
hello,

on iOS when dynamically changing the size of a MaterialContentView some weird animations happen which i am unable to turn off. this inevitably happens for example if a ListView.ViewCell reusing/rebinding the previously disappearing cell template.

sometimes even rendering becomes incorrect for the corners when rebinding the margin: see attached example when tapping on a row. This i guess h

[2019-07-28 10:52] ChasakisD commented on #41
Hey @kicsiede,

Thanks for the feedback and the reproduction link! After checking the project, my opinion is that something strange is happening either with the clipping or with the path calculation of the GradientStrokeLayer. I will make a page into my example project to replicate this issue and start working on it.

IsCircle is kinda buggy when using it with padding. The best way is to specify e

[2019-07-28 11:17] ChasakisD commented on #41
The problem is with GradientStrokeLayer. When margin is changed, ```DrawInContext``` is never called, so the round corners path is never updated. Looking into it right now

[2019-07-28 11:24] ChasakisD commented on #41
@kicsiede i have a fix-ready for the issue with round corners. I will soon make a PR and upload a new 1.2.2 version :)

[2019-07-28 11:27] kicsiede commented on #41
@ChasakisD while trying to workaround the problem I've found that CardView is also facing a similar issue, but maybe unrelated, so trying to create a repro first

[2019-07-28 11:28] ChasakisD commented on #41
The problem was on InvalidateLayer on MaterialBackgroundManager. MaterialCard also uses that manager and GradientStrokeLayer, and since the problem was that on resize, the layer was not redrawn, this will also fix the issue for MaterialCard.

[2019-07-28 11:29] #41 closed, assigned to ChasakisD

[2019-07-28 11:30] ChasakisD commented on #41
Please feel free to create separate issues for the IsCircle and animation when view is resized, so i can track them differently. Version 1.2.2 published to nuget and will be listed soon!

[2019-07-28 11:38] kicsiede commented on #41
@ChasakisD sorry, false alert, i wasn't aware that CardView doesn't support different radius for each corners!

thanks for the fast fix! :)

[2019-07-28 11:46] kicsiede opened #43 "[bug] ios CAAnimations when size changes"
hello,

i think this is what you need in :

[code]

please note, that this shouldn't be optional, since the animation only applies to the background layer, the container (along with elevation shadow etc) is updated instantly, which leads to really ugly half animated updates. (when scrolling through a listview for example)

[2019-07-28 12:53] kicsiede opened #44 "[bug] [Android] BorderStyle==Outer seems to be ignored (always Inner)"
hello,

on Android border is always covered and cannot be made visible if the content fills the whole area.

see attached sample for repro: [AndroidBug.zip](https://github.com/ChasakisD/Xamarin.Forms.BackgroundKit/files/3439180/AndroidBug.zip)

iOS seems ok in that regard. however I'm still not really sure if the intended behaviour for "Inner" is to be able to cover the border by the content.

[2019-07-28 13:49] ChasakisD commented on #44
Hi @kicsiede,

Maybe the Inner/Outer is not the best name to describe what I mean. When BorderStyle is set to Inner, the child view will be clipped to parent bounds. When the BorderStyle is set to Outer, the child view will be clipped in the parent bounds - border width. So the border will become visible.

This is the purpose of the BorderStyle.

Although the bug is happening because I ignore the

[2019-07-28 13:51] ChasakisD commented on #43
The thing here is that I do not use a CATransaction to update the Layer. I just redraw it. I will look into it and I agree that this should not be optional.

Edit: The animation is triggered when updating the Frame of CALayer. So, wrapping it into a CATransaction actually disabled the Animation! Feel free to update the ```InvalidateLayer``` method of ```MaterialBackgroundManager``` since you figur

[2019-07-28 14:05] kicsiede commented on #43
@ChasakisD please go ahead, i wouldn't even know where to look, and more importantly i'm really behind my schedules :)

[2019-07-28 14:08] #44 closed, assigned to ChasakisD

[2019-07-28 14:08] #43 closed, assigned to ChasakisD

[2019-07-28 14:11] ChasakisD commented on #44
@kicsiede Version 1.2.3 uploaded to nuget!

[2019-07-28 14:42] kicsiede commented on #44
@ChasakisD thanks! now everything looks awesome on both iOS & Android! :)

[2019-07-30 12:33] kicsiede opened #47 "[bug] android release build fails with linker error"
hello,

when attempting a release build on Android i get the following linker error, even though i'm not using MaterialCard, and do invoke XamarinBackgroundKit.Android.BackgroundKit.Init();

iOS builds fine.

[code]

[2019-07-30 12:47] ChasakisD commented on #47
Add FormsMaterial.Init() and test again

[2019-07-30 12:59] kicsiede commented on #47
it is there as well

[2019-07-30 13:14] ChasakisD commented on #47
The problem is with Visual Material. What version of Visual Material are you using?

[2019-07-30 13:16] kicsiede commented on #47
v3.6.0.539721 (both XF & XF Visual)

interestingly iOS has not problem with it

[2019-07-30 13:18] ChasakisD commented on #47
The problem is with MaterialContextThemeWrapper that exists on Visual.Material. I faced the same issue before on production applications without this library. Try update to Xamarin.Forms 4.x and see if the problem persists.

[2019-07-30 13:24] kicsiede commented on #47
i can give it a try, but won't be able to go in production with 4 :(

* 4.0 builds indeed.

[2019-07-30 13:26] ChasakisD commented on #47
Why you cannot use 4.x builds in production? Try 4.1, and then i will try to replicate the issue.

[2019-07-30 13:40] kicsiede commented on #47
honest answer: no time/capacity to fight another shitload of newly introduced bugs in 4.x :D

4.1 doesn't build either.  but different error ofc. (I don't think this is related to your component)

[code]

why do you have Preserve.All though? i'm not even using materialcard, so the the linker could strip it.

[2019-07-30 13:59] ChasakisD commented on #47
Try Clean the solution, (Maybe delete bin, obj will help) and then try build in release. I have used this library in numerous projects with 4.1 X.F. and above and build in release works fine.

[2019-07-30 14:14] kicsiede commented on #47
the problem is Preserve.AllMembers. why do you have that? it just forces the linker to try and link all members even if they are unused.
of course i can turn off linking so that it builds, but then i get a 100mb apk. :)

if i do want to preserve some members, i can use a link description file explicitly.

[2019-07-30 14:41] ChasakisD commented on #47
This will solve part of the problem. The only thing that can be cut here is the MaterialCardRenderer. And if the linker will not link Visual.Material a lot of functionality that this library provides will not work because they depend on that. If the problem is on MaterialContextWrapper, use Visual="Material" on a Frame and you will get the exact same error. The solution is not to just let it build

[2019-07-30 15:55] kicsiede commented on #47
Sorry I can't follow your thought process, and I don't really get what your point is here. Obviously I do have (direct) Visual.Material dependency in my projects, so it is the forced MaterialContextWrapper dependency that causes the problem.

So, to reiterate:
- I have a perfectly valid solution, that uses XF v3.6, XF Visual v3.6, and MaterialContentView v1.2.3 from your library.
- It builds perfe

[2019-07-30 16:54] ChasakisD commented on #47
Just to make it clear,

The problem is that the linker is cutting out MaterialContextThemeWrapper, not that is forced to the project. This class is used to every renderer in Visual.Material on Android. The reason I told you to update on 4.1 was that this issue with the linker cutting out that class was resolved in 4.1 release. I did not assume that you are doing something wrong and of course to DI

[2019-07-30 20:28] kicsiede commented on #47
first of all, the linker removes unused references. so it is impossible that you have a reference to the renderer, but you dont have a reference to the ThemeWrapper, because the renderer has a reference to the themewrapper. (to be more precise you must have a reference to the constructor of the renderer to make any use of it, and since it instatly makes a reference to the themewrapper, it wont be

[2019-08-10 18:07] #38 closed, assigned to ChasakisD

[2019-08-10 18:08] #21 closed, assigned to nobody

[2019-09-04 09:58] bentmar commented on #47
having the exact same issue on xf 3.6.
on 3.6 because of the same reason as @kicsiede (I couldnt have said it better myself).

@ChasakisD  could you provide a nuget thats based on 3.6?  :)

[2019-09-09 09:56] ChasakisD commented on #47
@bentmar I will upload soon a new version without the need of ContextWrapper

[2019-09-24 17:48] ChasakisD opened #49 "Shape Support"
BackgroundKit should let developers provide a custom shape to their views.

### TODO Shapes
BackgroundKit will support the following shapes:
Rectangle (In PR)
Round Rectangle (In PR)
Arc (In PR)
Diagonal - pending
CornerClip - pending
Triangle - pending
Custom (Developer will be able to register custom providers) - pending

### API Changes
[code]

[code]

Every shape will derive from BaseShape. e.

[2019-10-07 14:23] bentmar opened #51 "Support ShadowColor"
In many design suggestion the shadow is much more subtle or its just not black. I gave your code a glimpse and saw that this should be pretty easy to add.

For iOS both GradientStrokeLayer and MDCCard support setting a shadowcolor.

for Android API 28 MaterialCardView supports .SetOutlineAmbientShadowColor and .SetOutlineSpotShadowColor

I would love to see this feature!

Thanks!

[2019-10-07 14:29] ChasakisD commented on #51
Hi @bentmar

Thanks for your feedback!

I've seen those methods on API 28. I tried to implement custom shadow drawing on Android in order to support shadow color and offsets. But, Android draws shadow on a software layer. So the whole view must be drawn on a software layer, which means no hardware acceleration at all. I think those API 28 methods are (by now) the only way to implement it on Androi

[2019-10-07 15:46] bentmar commented on #51
I have a finished implementation for android and ios now :)  (i couldnt stop myself). its based on your master branch. How do u want the code since im not allowed to push i to this repo

[2019-10-07 15:52] bentmar commented on #51
i could just drop it as a feature branch if youd let me :)

[2019-10-07 21:09] ChasakisD commented on #51
Just fork the repo and make a PR targetting master branch :)

[2019-10-08 11:49] #51 closed, assigned to nobody

[2019-10-08 11:54] #49 closed, assigned to ChasakisD

[2019-10-08 12:00] ChasakisD commented on #47
Fixed by #50

[2019-10-08 12:00] #47 closed, assigned to nobody

[2019-10-22 15:18] arappl-merc opened #53 "Crash on android 4.4.2 Java.Lang.IncompatibleClassChangeError"
Greetings,

Thank you for the great UI extensions.  I'm currently using a gradient as such:

`<bgkit:MaterialContentView Grid.Row="0" Grid.ColumnSpan="2" Background="{bgkit:BgProvider BorderWidth=4, GradientBrush={bgkit:LinearGradient Start=Blue, End=White, Angle=0}}"/>`

This works fine on iphones and several android devices but is crashing on an older HTC ONE M7 running android 4.4.2.

Crash inf

[2019-10-22 15:23] ChasakisD commented on #53
Hey @arappl-merc,

First of all I would like to thank you for the feedback!

Tbh, I've never tested the library on Android OS below 5.1. Thanks for the stacktrace. This issue will be addressed and resolved soon!

[2019-10-23 07:57] ChasakisD commented on #53
@arappl-merc are you using the latest stable version of the package? Try update to 2.0.0-beta and check if the crash happens.

[2019-10-23 19:13] arappl-merc commented on #53
I was using 1.2.3. I now tried 2.0.0-beta. I still get the crash:
Java.Lang.IncompatibleClassChangeError
It appears like a slightly different crash maybe?
<details>
  <summary>crash details</summary>

  Java.Lang.IncompatibleClassChangeError
  Message=no method with name='setElevation' signature='(F)V' in class Lcom/xamarin/forms/platform/android/FormsViewGroup;

</details>

[2019-10-23 21:08] ChasakisD commented on #53
Now it makes sense. Will fix it soon. Thanks!

[2019-11-06 13:52] bentmar commented on #38
this is still an issue, i tested with 5.1.1 and it crashes

[2019-11-06 13:59] ChasakisD commented on #38
Could you post a stacktrace over here?

[2019-11-06 14:57] RobertHedgate opened #54 "Not working on Android Lollipop"
Are using BackgroundKit in my app which is working great but it is crashing when using Android Lollipop phones. Getting error about getForeground.

Have debugged it and see that this line is crashing, on view.Foreground:
[code]
If I fix it and return null I get a Scroll error which I don't really understand:
Java.Lang.ClassNotFoundException: 'mono.android.view.View_OnScrollChangeListenerImplemento

[2019-11-06 15:37] bentmar commented on #53
I see the same on lollipop when im running your sample

[2019-11-06 15:45] bentmar commented on #38
`
11-06 16:44:55.907 I/MonoDroid(21755): UNHANDLED EXCEPTION:
11-06 16:44:55.923 I/MonoDroid(21755): Java.Lang.NoSuchMethodError: no non-static method "Lcom/xamarin/forms/platform/android/FormsViewGroup;.getForeground()Landroid/graphics/drawable/Drawable;"
11-06 16:44:55.923 I/MonoDroid(21755):   at Java.Interop.JniEnvironment+InstanceMethods.GetMethodID (Java.Interop.JniObjectReference type, Syst

[2019-11-06 15:46] bentmar commented on #38
This is by starting your sample app

[2019-11-06 16:23] bentmar commented on #38
theres a missing OS check in GetRippleMaskDrawable() in ViewExtensions. I tried Returning null if lower than 23 and that works. (Well.. the sample still crashes, but thats not caused by your lib)

[2019-11-18 10:36] agusibrahim opened #55 "Type BgProvider not found"
hi @ChasakisD, i found error with your BackgroundKit.
`Type BgProvider not found in xmlns http://xamarin.com/schemas/2014/forms/background`
in xamarin previewer just fine, but when I build the project an error occurs
I'm using visual studio for mac 8.3.7
please the solution

[2019-11-18 11:01] ChasakisD commented on #55
Please confirm that your assembly contains a PackageReference to Xamarin.Forms Nuget Package. If not, add the Xamarin.Forms nuget package to that project. If this does not help, create a static class with a static constructor and just add the following
[code]

There are some cases where the xmlns is not working because there are no references in C# code.

[2019-11-18 11:45] agusibrahim commented on #55
It's work, i've added new static class like advice from you.  thanks...

[2019-11-18 12:07] #55 closed, assigned to nobody

[2019-11-30 17:23] #53 closed, assigned to ChasakisD

[2019-11-30 17:23] #54 closed, assigned to ChasakisD

[2019-11-30 17:26] ChasakisD commented on #54
The actual reason for this Exception is from the Xamarin.Forms CollectionView implementation.
The RecyclerView.setOnScrollChangeListener() method was introduced in API 23 and in Xamarin.Forms implementation it is used without the check for the API Version. [ref](https://github.com/xamarin/Xamarin.Forms/blob/93effb986b8077417f6ace060613025f879072d6/Xamarin.Forms.Platform.Android/CollectionView/Nong

[2019-11-30 17:28] ChasakisD commented on #53
@bentmar @arappl-merc Version 2.0.0-beta2 published on nuget. I explained the problem with my sample in another [issue](https://github.com/ChasakisD/Xamarin.Forms.BackgroundKit/issues/54#issuecomment-559999939)

[2020-01-20 11:41] #37 closed, assigned to ChasakisD

[2020-01-20 17:24] JohamVan commented on #55
It works but only Debug mode for Android and iOS. When i try to compile the project in Release mode, VS throws the same error: Type BgProvider not found in xmlns http://xamarin.com/schemas/2014/forms/background.

I'm using Visual Studio Community 16.4.3
Thanks in advance for your help.

[2020-01-23 09:05] sasa-bobic opened #58 "(Android) MaterialShapeManager.InitializeClipPath() - ObjectDisposedException"
Hi @ChasakisD,

I'm using MaterialContentView inside CollectionView (XF 4.4) and I'm getting a random ObjectDisposedExpection while scrolling through the list.

Exception points to this method (MaterialShapeManager, line 122); it seems that "_clipPath" is sometimes disposed:

**StackTrace:**

[2020-01-24 15:20] ChasakisD commented on #58
@sasa-bobic I published version 2.0.1 to nuget. It will be available soon. Please try this version and tell me if the crash happens again.

[2020-01-27 12:22] ChasakisD commented on #58
In Version 2.0.2 should be fixed. Try update to version 2.0.2 and check if the error still happens. If yes, send me a reproduction project.

[2020-02-18 18:52] toverux opened #61 "Is it possible to remove a Picker's underline?"
Hello,

I'm trying to wrap inputs in MaterialContentViews to given them elevation and rounded corners, I have an Entry and a Picker.

In Xamarin Forms Android, entries and pickers have an underline that cannot be removed via shared code.
Actually, I managed to remove it with Xamarin.Forms.BackgroundKit on entries, but not on the picker.

I tried various solutions without success, and here's the la

[2020-02-19 12:59] toverux commented on #61
Update: so I tested on iOS and I get the usual border radius around the Picker and the Entry.
If that's expected behavior (then the underline suppression on the Entry on Android might be a bug), I will create custom renderers for them to remove their normal decoration.

[2020-02-19 13:07] ChasakisD commented on #61
Hello @toverux,

Thank you very much for your feedback.

The border suppression is a feature and not a bug. I have a fix-ready on Android, but need some more time on iOS. You will be able to remove the default border by setting the Background of BackgroundEffect to null.

PS: If you would like to make a donation use this PayPal mail chasakisd[at]gmail[dot]com

[2020-02-19 17:13] toverux commented on #19
@ChasakisD I'm not able to change a background instance after it's been set.
Originally I tried via a Style with a trigger (to reduce Elevation to 0 when IsEnabled is false), but ultimately, even `MyMaterialView.Background = new Background { ... }` didn't worked better the moment it is called after the page initialization.
This is on Android, didn't tried iOS yet.

[2020-02-19 17:20] toverux commented on #61
Ok, awesome!

PS: check your inbox ;)

[2020-02-19 17:57] ChasakisD commented on #19
@toverux Could you please fill a new issue with a reproduction code? I am working on production with this and is working fine

[2020-02-19 18:44] #61 closed, assigned to nobody

[2020-02-19 18:46] ChasakisD commented on #61
@toverux Thank you very much! Just published version 2.0.4 to nuget.

In order to remove the border on picker use the following:
[code]

[2020-02-19 23:07] toverux commented on #61
It's working, thank you very much!

[2020-02-19 23:15] toverux opened #63 "Cannot change the Background of a MaterialContentView"
I came with the simplest code possible, basically:

[code]

[code]

Click the button and... nothing happens! Button stays blue.

It is a simple test case to demonstrate what I encounter in my app (can't change the elevation of a wrapped button).

I didn't test on iOS yet.

Repro on an empty app: [TestApp.zip](https://github.com/ChasakisD/Xamarin.Forms.BackgroundKit/files/4227971/TestApp.zip)

[2020-02-20 06:53] ChasakisD commented on #63
Hey @toverux,

I will try the reproduction project and will investigate the issue. For now, do not change the whole background instance. Just change its color.

[2020-02-20 09:12] toverux commented on #63
Tested that (in my real app I'm changing Elevation though, Color is just an example), and that works, but the problem is, is that I use a `Style`. The `Background` is therefore shared between many views in the same page (eg. multiple buttons or form controls). If I change one, I change them all.

It looks like this:

[code]
Here, a view that gets `IsEnabled="False"` will take another background an

[2020-02-20 16:59] ChasakisD commented on #63
Hello @toverux,

Thanks for your valuable feedback.

Currently when setting a background via a style, all views share the same Background instance. This is because Background is mutable. Try setting a style for TargetType background and not for MaterialContentView.

Although setting a background via a style is pretty cool, I do not know how to fix this. If you have any ideas, I'm glad to discuss.

[2020-02-20 17:21] #63 closed, assigned to ChasakisD

[2020-02-20 17:22] ChasakisD commented on #63
@toverux Version 2.0.5 just published on nuget.

I'm gonna fill a new issue for the style issue

[2020-02-20 17:22] ChasakisD opened #65 "Unable to use Background in Style"
Tested that (in my real app I'm changing Elevation though, Color is just an example), and that works, but the problem is, is that I use a `Style`. The `Background` is therefore shared between many views in the same page (eg. multiple buttons or form controls). If I change one, I change them all.

It looks like this:

[code]
Here, a view that gets `IsEnabled="False"` will take another background an

[2020-02-20 17:41] ChasakisD commented on #65
@toverux

I am using the following xaml:
[code]

and on xaml.cs
[code]

And I am unable to make a reproduction. Please test on 2.0.5 version

[2020-02-20 21:10] toverux commented on #65
2.0.5 works just fine! In fact I don't think there was a problem with Style at all ;)
I may have confused you a bit with my story, but the real and only problem was the Backgroud property not reacting to reference changes.

Again, thank you again, that's hours of hard work saved.

[2020-02-20 21:19] #65 closed, assigned to ChasakisD

[2020-02-20 21:19] ChasakisD commented on #65
Alright then! Glad to hear that!

[2020-02-20 21:19] ChasakisD commented on #65
Alright then! Glad to hear that!

[2020-03-03 16:33] toverux opened #66 "Can't use transparent background colors"
Hi again,

I was trying to use a transparent background color, but it seems the alpha channel is lost on Android (I haven't tested on iOS yet).

But I've found that it's working flawlessly with gradients.

This is not working :

[code]

While this works:

[code]

[2020-03-06 09:38] toverux opened #67 "Make BackgroundKit take ICommand and not concrete Xamarin.Forms.Command implementation"
Hello,

The library exposes a few command properties, I'll take the example of `MaterialContentView.ClickedCommand`.

This one holds a `Xamarin.Forms.Command` instance while typically it is recommended to use `System.Windows.Input.ICommand` instead. Even Xamarin.Forms uses it, see `Button.Command` for example.

I personally use ReactiveUI's `ReactiveCommand` to fulfill my needs. This implementatio

[2020-03-06 09:51] ChasakisD commented on #67
Thank you for your feedback!

It's my mistake actually using Xamarin.Forms.Command instead of System.Windows.Input.ICommand. Gonna change it asap!

[2020-03-08 23:55] moreirawebmaster opened #68 "Object reference not set to an instance of an object iOS"
`{System.NullReferenceException: Object reference not set to an instance of an object  at XamarinBackgroundKit.iOS.Renderers.MaterialContentViewRenderer.TouchesEnded (Foundation.NSSet touches, UIKit.UIEvent evt) [0x00026] in /Users/chasakisd/Desktop/GitRepos/Xamarin.Forms.BackgroundKit-new/src/XamarinBackgroundKit.iOS/Renderers/MaterialContentViewRenderer.cs:93   at (wrapper managed-to-native) UIK

[2020-03-09 01:58] moreirawebmaster commented on #68
Working for me:

[code]

[2020-03-26 07:31] RichardSV15 commented on #55
@JohamVan Where you able to resolve the issue? I am experiencing the same issue
Using Visual Studio Community 16.5.1

[2020-03-28 16:12] #67 closed, assigned to ChasakisD

[2020-03-28 16:23] #66 closed, assigned to ChasakisD

[2020-03-28 16:24] ChasakisD commented on #58
Closed due to not responding. If the issue is still occurring please reopen it

[2020-03-28 16:24] #58 closed, assigned to nobody

[2020-03-28 16:28] #68 closed, assigned to moreirawebmaster

[2020-03-28 16:36] ChasakisD commented on #66
@toverux Version 2.0.7 published to nuget. It will be live soon.

[2020-03-28 16:36] ChasakisD commented on #68
@moreirawebmaster Version 2.0.7 published to nuget. It will be live soon.

[2020-03-28 16:36] ChasakisD commented on #67
@toverux Version 2.0.7 published to nuget. It will be live soon.

[2020-03-28 17:59] toverux commented on #67
Works as expected!

[2020-03-28 18:02] toverux commented on #66
Awesome, works fine.

Unrelated, but the release fixed another annoying issue I had with material views with IsCornerRadiusHalfHeight sometimes losing their radius for a short period of time, usually when changing pages (I also upgraded Xamarin.Forms so maybe it's that too).

Thank you very much!

[2020-03-31 02:59] samchenws opened #73 "About LinearGradient"
Hello,How to use LinearGradient？
![image](https://user-images.githubusercontent.com/37535153/77982284-8bde7500-733e-11ea-8338-f7f42811fdb2.png)

[2020-03-31 06:50] ChasakisD commented on #73
There are 2 ways for creating the Background of MaterialContentView. The one way is with the MarkupExtensions (the way you implemented it) and the other way is by opening the tag and create the Background. When using the first way, there are some cases where the X.F. linker links out BackgroundKit. To solve that, read below:

[2020-03-31 06:56] samchenws commented on #73
Thanks for you,ChasakisD.

[2020-03-31 06:56] #73 closed, assigned to nobody

[2020-04-01 04:45] JohamVan commented on #55
@RichardSV15  I didn't able to resolve this issue, so I changed this plugin to PancakeView and the headache disappeared.

[2020-04-15 15:08] moreirawebmaster opened #74 "Control Elevation equals Thinckness"
Hello, Guys!!!

Thanks develop the plugins is awesome....

Is possible control elevation(left, top, right, down)? Today some information a value  about shadow width.

[2020-04-17 22:32] moreirawebmaster opened #75 "[Android] Two components in a stacklayout"
When adding two components to a horizontal oriented stacklayout the first component applies the styles to the second.

Example: In the first component I put blue color, with shadow, and elevation, it happened that in the other that was on the side it was white color, elevation and shadow even though I entered values ​​like 0 in elevation, transparent shadow and color.

[2020-04-21 16:37] moreirawebmaster opened #76 "Object reference not set to an instance of an object at XamarinBackgroundKit.iOS.Renderers.MaterialContentViewRenderer.TouchesEnded"
```{System.NullReferenceException: Object reference not set to an instance of an object  at XamarinBackgroundKit.iOS.Renderers.MaterialContentViewRenderer.TouchesEnded (Foundation.NSSet touches, UIKit.UIEvent evt) [0x00029] in /Users/chasakisd/Desktop/GitRepos/Xamarin.Forms.BackgroundKit-new/src/XamarinBackgroundKit.iOS/Renderers/MaterialContentViewRenderer.cs:99   at (wrapper managed-to-native) U

[2020-04-21 16:45] ChasakisD commented on #76
@moreirawebmaster What version of BackgroundKit are you using?

[2020-04-22 08:10] sheharyarshahid opened #77 "LinearGradientBrush could not found in namespace"
Position 66:13. Type LinearGradient not found in xmlns http://xamarin.com/schemas/2014/forms/background

[2020-04-22 09:22] toverux commented on #75
I am regularly observing the same behavior, and desperately trying to make a simple repro.
The thing is, it doesn't always happen. Worse, it seems not deterministic, ie. sometimes I open a page and it's fine, then I reopen it and the shadow copied the elevation value from... somewhere else.

A workaround that I found for the current occurence of the problem is to wrap the contaminated element in a

[2020-04-22 09:51] toverux commented on #75
Ah, here is a simple repro that seems to reliably fail. Each block has a different elevation value, 20, 10 and 0.

[code]

Renders:

![image](https://user-images.githubusercontent.com/1343250/79966152-4a4c7000-848d-11ea-888d-7a0fca38c4ba.png)

Not quite expected!

Now, let's reverse the elevation values in ascending order 0, 10, 20:

![image](https://user-images.githubusercontent.com/1343250/79966

[2020-04-22 09:53] ChasakisD commented on #75
Somehow, android applies elevation to the other views inside the same viewgroup. I was able to reproduce and fix the issue! By the end of the day, a new version will be available!

[2020-04-22 09:55] ChasakisD commented on #74
Android does not by default support this feature and on iOS I am using Material Elevation in order to render the same shadows in both platforms.

[2020-04-22 09:55] #74 closed, assigned to nobody

[2020-04-22 09:56] ChasakisD commented on #77
Instead of using the url, try use the full namespace in xmlns. Could you please share X.F. and VS versions?

[2020-04-22 12:13] toverux opened #78 "Ripple not working if applied via a Style with an IsEnabled trigger"
So, this is a tough one, but I managed to narrow down the problem and make a simple repro.

Take this style:

[code]

Apply it to this view:

[code]

Now, the ripple is not working, when `IsEnabled=true`.

Remove the Trigger in the Style, or remove IsEnabled on the view (without touching the Style), and the ripple is showing up again.

**Also, IsEnabled must be a Binding**. It works if you pass `"

[2020-04-22 12:40] ChasakisD commented on #78
@toverux Thank you for your valuable feedback. The fix will be included in today's release!

[2020-04-22 12:50] sheharyarshahid commented on #77
X.F: **4.5.0.617**
VS: **Community 2019 16.6.5**

[2020-04-22 14:19] sheharyarshahid commented on #77
I also tried using full namespace in xmlns. Still got the same error: **Type LinearGradient not found in
xmlns clr-namespace:XamarinBackgroundKit.Controls;assembly=XamarinBackgroundKit**
Also cleaned the library project and build but it fails and shows the above error.

[2020-04-22 14:28] sheharyarshahid commented on #77
**Background Resource**
`<background:Background
            x:Key="PrimaryGradientBrush"
            CornerRadius="8"
            GradientBrush="{background:LinearGradient Start={StaticResource TPrimaryColor},
                                                      End={StaticResource TSecondaryColor},
                                                      Angle=180}" />`

**Applied on Button**
`

[2020-05-04 23:17] toverux opened #79 "BgProviderExtension doesn't copy ShadowColor"
Hello @ChasakisD, hope you're being well!

A small bug I found using `ShadowColor` with `BgProviderExtension`. The color is not applied due to the property not being copied to the new `Background` instance in `ProvideValue`.

(On a side note, I found the shadow a bit faint even if set with a plain color without transparency, ie. full black already gives something very greyish at the shadow start.

[2020-05-04 23:24] toverux commented on #77
The LinearGradient you're trying to use in your last message is in the MarkupExtensions namespace, not Controls.

Use this :

[code]

I also noticed that the auto import doesn't works with Rider/ReSharper, just on this library.
A bit annoying but not blocking, instead fix it by hand and copy/paste the imports the next times in other files.

[2020-05-15 19:16] freitas-patrick opened #80 "Border Gradient Brush doesn't work properly"
Gradient borders are being applied to the element's background, not the border itself.
In this way, the background colors are completely ignored and the border remains white.

I tried to apply them to my project, and after failing, I did the download of the example project, and it behaved the same way.

![border_gradient](https://user-images.githubusercontent.com/26572725/82087866-55c73b80-96c7-11

[2020-05-16 20:25] ChasakisD commented on #80
Thank you for your feedback!

Found the bug on GradientStrokeDrawable and will fix it soon!

[2020-05-21 18:15] toverux commented on #78
Hi @ChasakisD, I hope you are well.
I'd still like to see this (and the other issues I created or participated in - mainly the adjacent shadows bug) fixed, however I didn't want to pressure you in any way in those difficult times, and given the help you already provided.
So, please take your time if you need it, I just wanted to show that I'm still here in case you need some motivation :)

Thanks

[2020-05-24 10:29] #78 closed, assigned to nobody

[2020-05-24 10:30] #75 closed, assigned to nobody

[2020-05-24 10:30] #79 closed, assigned to nobody

[2020-05-24 10:31] #80 closed, assigned to ChasakisD

[2020-05-24 10:31] ChasakisD commented on #76
Closes due to inactivity

[2020-05-24 10:31] #76 closed, assigned to nobody

[2020-05-24 10:42] ChasakisD commented on #78
@toverux Release 2.0.8 is published to nuget :)

[2020-05-24 15:24] toverux commented on #78
That's working as intended (and for the other issues too).
Thank you so very much!

[2020-05-31 23:18] moreirawebmaster commented on #76
The last version man!

[2020-05-31 23:24] moreirawebmaster opened #85 "[Android] Two ScrollView Vertical With Horizontal bug"
When added two ScrollViews on the screen when:

ScrollView Parent Vertical
ScrollView Child Horizontal

When you are in the horizontal scroll and return to the vertical, the parent scroll stops working, unless you touch the screen at points that do not have the BackgroundKit.

Version: 2.0.8

[2020-06-25 20:32] MiqueiasGFernandes opened #86 "Update Documentation"
Hello! Please update the documentation details of package.
In "SETUP" section, the correct installation way to IOS would be:
`XamarinBackgroundKit.iOS.BackgroundKit.Init();`
And add the xmlns reference to assembly of package.
This details help beginners on Xamarin.Forms

[2020-07-03 16:09] moreirawebmaster opened #87 "[Bug] xamarin.Forms 4.7"
When version update xamarin.forms 4.7 the plugin throw exception the object not instance.

Please check this.

[2020-07-20 14:56] moreirawebmaster commented on #85
Hello man @ChasakisD  check this please!

[2020-07-24 13:27] kylecode1690 opened #88 "Please help. background:Background Namespace issue..."
I have used the other method to try and fix this but I cant build and deploy.

Please see the two screenshots on with the code and second with the error.
![error](https://user-images.githubusercontent.com/38950845/88395921-b35bc080-cdb9-11ea-93b7-48fbd84a848b.PNG)
![code](https://user-images.githubusercontent.com/38950845/88395923-b3f45700-cdb9-11ea-8dd2-0043824a0a9e.PNG)

[2020-07-24 16:04] kylecode1690 commented on #77
I am using:

[2020-07-24 16:04] kylecode1690 commented on #77
I am using: xmlns:controls="clr-namespace:XamarinBackgroundKit.Controls;assembly=XamarinBackgroundKit"

But is still getting background:GradientStop not found

[2020-07-24 19:19] toverux commented on #77
First, you're aliasing the namespace as "controls" (`xmlns:controls`), not "background". And of course, change `XamarinBackgroundKit.Controls` to `XamarinBackgroundKit.MarkupExtensions` if GradientStop is effectively in `MarkupExtensions`.

[2020-07-27 08:02] kylecode1690 commented on #77
@toverux
I have installed the background kit via the NuGet package. I have attached the code screenshot with the way i am setting the namespaces and error that is getting the output. I cant use the kit if this error is shown as I cant build and deploy.

![error](https://user-images.githubusercontent.com/38950845/88518072-c7850500-cfe7-11ea-945a-4c24e5b3d751.PNG)
![Capture](https://user-images.gith

[2020-07-27 08:05] ChasakisD commented on #77
@kylecode1690 replace the background url with the full namespace

[2020-07-27 08:05] ChasakisD commented on #87
@moreirawebmaster Could you please attach the stacktrace?

[2020-07-27 08:06] ChasakisD commented on #85
Hello @moreirawebmaster could you send me a reproduction project?

[2020-07-27 08:07] kylecode1690 commented on #77
@ChasakisD What would this be? (Sorry i am new to Xamrain)

[2020-07-27 08:09] ChasakisD commented on #77
Just remove the xmlns:background and in the gradientbrush replace background with controls

[2020-07-27 08:12] kylecode1690 commented on #77
@ChasakisD

This worked for anyone having issues with the name spaces.

`<?xml version="1.0" encoding="utf-8" ?>
<ContentPage x:Class="CGRecycling.Views.Jobs.JobsForCollection"
             xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:d="http://xamarin.com/schemas/2014/forms/design"
             xmlns:mc="http:

[2020-07-27 12:47] #88 closed, assigned to nobody

[2020-07-28 14:25] moreirawebmaster commented on #85
Hello, @ChasakisD
The projectis commercially, reproduction:

When added two ScrollViews on the screen when:

ScrollView Parent Vertical
ScrollView Child Horizontal

When you are in the horizontal scroll and return to the vertical, the parent scroll stops working, unless you touch the screen at points that do not have the BackgroundKit.

[2021-06-14 20:53] MappingSteve opened #89 "2.0.8 - Not upgraded to use Xamarin.AndroidX for appcompat"
Building with latest Xamarin.Forms which uses Xamarin.AndroidX for appcompat, get Build error:

    Can not resolve reference: 'Xamarin.Android.Support.Design', referenced by 'XamarinBackgroundKit.Android'.

Note the reference to an old Android.Support namespace, instead of to AndroidX.Support.

[2022-01-12 10:06] tranb3r commented on #89
Seems like 2.1.0-beta1 has been migrated to AndroidX.

[2022-03-03 15:57] tranb3r opened #90 "CornerRadius issue with MaterialContentView in CollectionView on Android"
The CornerRadius of MaterialContentView is not working properly when using it in a CollectionView.
The bug is only on Android. No issue on iOS.
Version 2.1.0-beta1 (androidx) with most recent version of xamarin forms.

Here is a sample repro project.
[repro.zip](https://github.com/ChasakisD/Xamarin.Forms.BackgroundKit/files/8179144/repro.zip)

Here is a screen record of both actual and expected be

[2022-03-03 16:01] ChasakisD commented on #90
Impressive work! Thanks for the feedback! Please feel free to create a PR for this 🥳

[2022-03-03 16:03] #89 closed, assigned to nobody

[2022-03-03 16:03] #87 closed, assigned to nobody

[2022-03-03 16:04] #77 closed, assigned to nobody

[2022-03-03 20:32] tranb3r commented on #90
Ok. I'll do the PR.
Before that, is there any reason not to merge the androidx branch into master ?

[2022-03-04 11:26] ChasakisD commented on #90
Merged the androidx branch

[2022-03-04 13:21] tranb3r commented on #90
I've prepared the PR.
By the way, are you planning to publish a stable nuget soon (ideally, including my fix) ?
Thanks again.

[2022-03-05 12:28] #90 closed, assigned to nobody

[2022-03-05 12:51] ChasakisD commented on #90
@tranb3r Version 2.1.2 released to nuget. Thank you very much!